@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

#root{
  min-height: 100vh;
  display: flex;
}

body{
  transition: all 0.5 ease;
}